# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
# Python virtual environments
.venv*/
venv*/


# Environment files
.env
.env.*
!.env.example

# Frontend
node_modules/
dist/
frontend-vite/src/components_archive/

# OS / editor
.DS_Store
.vscode/

# Old Git backup
.git-backup/